body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h2,
h3 {
  color: #2e2f42;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #434455;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

/*----------------- HEADER----------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container {
}

.header-link-logo {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: block;
  padding: 24px 0 24px;
}

.logo-color {
  color: #4d5ae5;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
  position: relative;
}

.header-menu-link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}

/* .header-menu-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  display: inline-block;
  padding: 20px auto 0;
} */

.header-menu-link:hover,
.header-contacts-link:hover,
.header-menu-link:focus,
.header-contacts-link:focus,
.header-menu-link.current {
  color: #404bbf;
}

.header-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  margin-left: auto;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-contacts-item {
}

.header-contacts-link {
  display: block;
  padding: 24px 0 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------- HERO----------------------- */

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: 1440px;
  background-position: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-btn {
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  align-self: center;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*----------------- FEATURES----------------------- */

.features {
}

.features-container {
}

.features-title {
}

.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.features-item {
  width: calc((100% - 3 * 24px) / 4);
}

.features-item:first-child {
  margin-left: 0;
}

.features-item:last-child {
  margin-right: 0;
}

.futures-icons {
  padding: 24px 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
}

.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------- TEAM----------------------- */

.team {
  background-color: #f4f4fd;
}

.team-container {
}

.container-team-tt {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 32px 16px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-item-pictures {
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  /* margin: 32px 0 8px; */
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  /* margin-bottom: 32px; */
}

.team-icons {
  display: flex;
  gap: 24px;
}

.team-contacts-icon:hover,
.team-contacts-icon:focus {
  background-color: #404bbf;
}

.team-contacts-icon {
  fill: #f4f4fd;
  background-color: #4d5ae5;
  /* width: 40px;
  height: 40px; */
  /* border-radius: 50%; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------- PORTFOLIO----------------------- */

.portfolio {
}

.portfolio-container {
}

.container-portfolio-tt {
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
}

.portfolio-item:hover .portfolio-item-pictures-text,
.portfolio-item:focus .portfolio-item-pictures-text {
  transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-image-content {
  position: relative;
  overflow: hidden;
}

.portfolio-item-pictures {
}

.portfolio-item-pictures-text {
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 164px;
  height: 100%;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------------- FOOTER----------------------- */

.footer {
  background-color: #2e2f42;
  width: 100%;
}

.footer-content {
  display: flex;
  gap: 120px;
}

.footer-container {
  padding: 100px 0 100px 0;
  margin: 0;
}

.footer-link-logo {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding: 16px 0 16px 0;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-top: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icons-text {
  margin-bottom: 16px;
  color: #fff;
}

.footer-ikons-social {
  fill: #f4f4fd;
  background-color: #4d5ae5;
  /* border-radius: 50%; */
  margin-right: 16px;
}

.footer-icons-and-text {
  padding-top: 100px;
}
